/* forgotPassword.module.css */
.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
   ;
  background-size: cover;
  background-position: center;
}

.forgotPassword form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 23vw;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  padding: 0px 60px;
  border-radius: 10px;
}

.forgotPassword h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.forgotPassword p {
  text-align: justify;
  margin-top: 5px;
  margin-bottom: 10px;
}

.forgotPassword button {
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.formInput {
  max-width: 94%;
}
.forgotPassword .formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forgotPassword .formInput input {
  font-size: 1rem;
  padding: 12px;
  margin: 10px 0px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.forgotPassword .formInput span {
  font-size: 14px;
  padding: 3px;
  color: red;
  display: none;
}

.forgotPassword .formInput input:invalid[focused="true"] ~ span {
  display: block;
}

.forgotPassword span {
  margin: 5px 0px;
}

@media (max-width: 575.98px) {
  .forgotPassword form {
    height: 70%;
    width: 80%;
    padding: 0px 20px;
  }

  .forgotPassword p {
    margin-bottom: 15px;
  }
}

@media (max-width: 991.98px) and (min-width: 576px) {
  .forgotPassword form {
    height: 40%;
    width: 50%;
    padding: 0px 30px;
  }
}

@media (max-width: 1199.98px) and (min-width: 992px) {
  .forgotPassword form {
    height: 75%;
    width: 30%;
    padding: 0px 20px;
  }
}
