.header {
  position: relative;
  overflow: hidden;
  width: 99vw;
  padding-bottom: 6px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 80px;
  background-repeat: repeat;
  background-size: fit;
  background-position: center;
  animation: moveBackground 30s linear infinite;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9) !important ;
}
.header div {
  position: relative;
}
#btn {
  animation: none;
}
